body {
    margin: 0;
}

.main-heading {
    background-color: #f9bfd7;
    color: black;
    padding: 8px 0;
    margin-top: 0;
    text-align: center;
}
.everyday-tracker {
    margin: 10px 0;
    font-size: 40px;
    font-family: "Parisienne", cursive;
}
.mainpage-subheading {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

.other-subheading {
    margin-left: 20px;
    font-family: "Playwrite DE VA", cursive;
    color: rgb(22, 75, 99);
    font-size: 14px;
}

.accordion {
    background-color: rgb(179, 223, 244);
    border: none;
    cursor: pointer;
    margin: 5px 10px;
    width: calc(100% - 20px);
    text-align: left;
    padding: 18px;
    font-size: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    font: black;
}

.accordion:hover, .accordion:active {
    background-color: rgb(124, 200, 236);
}

.section-details {
    padding: 18px;
    display: none; /* hide by default */
}
