.main-heading {
    text-align: center;
}
.inputSectionParentGrid {
    display: flex;
    justify-content: space-around;
}
.inputSection {
    margin: 5px;
    padding: 5px;
}
.updateBtnParent {
    display: flex;
    justify-content: center;
    padding: 10px;   
}
.updateTrackerBtn {
    background-color: bisque;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
}
.updateTrackerBtn:active{
    background-color: rgb(250, 202, 143);
}

.tableData {
    text-align: center;
}