body {
    margin: 0;
    padding: 0
}
.header {
    text-align: center;
    background-color: purple;
    color: white;
    padding: 20px;
    margin-bottom: 30px;
    position: relative;
    font-size: 25px;
    font-family: "Playwrite DE SAS", cursive;  
    
}
.lineSeparation {
    /* border: 1px solid red; */
    height: 1px;
    width: 100%;
    background-color: gray;
    margin: 25px 0;
}
.dateInput {
    border: none;
    border-bottom: 1px solid black;
    margin-left: 2px;
    color: gray;
}
.transactionItem {
    display: flex;
    margin-bottom: 10px;
    padding-left: 5px;
    font-size: 16px;
    font-family: 'Poppins', Times, serif;
    
}
.inputLine {
    border: none;
    border-bottom: 1px solid black;
    margin-left: 5px;
} 
.addDetailsBtnParent {
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */
}
.addDetailsBtn {
    background-color: purple;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 16px;
}
.addDetailsBtn:active {
    background-color: rgb(94, 18, 94);
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 16px;
}