body, p {
    margin: 0;
    padding: 0
}
.header {
    text-align: center;
    background-color: rgb(16, 73, 83);
    color: white;
    padding: 20px;
    margin-bottom: 30px;
    position: relative;
    font-size: 25px;
    font-family: "Playwrite DE SAS", cursive;  
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.3);
}
.lineSeparation {
    /* border: 1px solid red; */
    height: 1px;
    width: 100%;
    background-color: gray;
    margin: 25px 0;
}
.dateNDay {
    display: flex;
    font-family: "Dancing Script", cursive;
    font-size: 18px;
    align-items: center;
}
.amtAndDetails {
    display: flex;
    font-size: 16px;
}
.dateInput {
    border: none;
    border-bottom: 1px solid black;
    margin-left: 2px;
}
.transactionItem {
    display: flex;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Poppins', Times, serif;
    margin: 0;
}

.eachTransactionCard {
    background-color: rgb(208, 246, 246);
    border-radius: 10px;
    margin: 8px;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.3);
}

.inputLine {
    border: none;
    border-bottom: 1px solid black;
    margin-left: 5px;
} 

.addDetailsBtnParent {
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */
}
.addDetailsBtn {
    background-color: rgb(48, 96, 103);
    padding: 10px 20px;
    margin: 20px;
    border-radius: 15px;
    border: none;
    color: white;
    font-size: 16px;
}
.addDetailsBtn:active {
    background-color: rgb(94, 18, 94);
    padding: 10px 20px;
    margin: 20px;
    border-radius: 15px;
    border: none;
    color: white;
    font-size: 16px;
}